################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Common
/.vs/slnx.sqlite
/.vs/a4/v15/.suo
